{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
</head>
<body>
<header>
    <img src="{% static '/images/fureverfriends.png' %}"  alt="FurEver Friends">
</header>
<nav>
    <ul>
        <li> <a>Faq</a></li>
    </ul>
</nav>
<section class="main">
    <h1>Want to Adopt?</h1>
    <ul>
        <li>Cat</li>
        <li>Dog</li>
        <li>Other Pets</li>
    </ul>

    <form action="" >
        <input type="search" placeholder="Location (i.e. Miami, FL or 33187)" name="Location">
        <div class="animal-selection">
        <select>

        </select>
        </div>


    </form>
</section>

</body>
</html>