{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
</head>
<body>
<header>
    <img src="{% static '/images/fureverfriends.png' %}" alt="FurEver Friends">
</header>
<nav>
    <ul>
        <li><a>Faq</a></li>
    </ul>
</nav>

<section class="main">
    <h1>Want to Adopt?</h1>
    <ul class="animal-type">
        <li id="cat-button" class="active-checkbox" onclick="setActive(this)">Cat</li>
        <li id="dog-button" onclick="setActive(this)">Dog</li>
        <li id="other-pets" onclick="setActive(this)">Other Pets</li>
    </ul>


    <form id="adoption-type" action="/pet-search/" method="get">

    </form>

</section>

</body>
<script>

    {# Method for collecting the animals breed   #}
    const w = async (text) => {
        return await fetch(`http://127.0.0.1:8000/animal-option/?animal=${text}`, {
            method: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            }
        });
    };

    const setActive = (item) => {
        {#const activeButton = document.getElementById(item.id);#}
        const className = "active-checkbox";
        const elems = document.querySelectorAll(".active-checkbox");
        elems.forEach(function (element) {
            element.classList.remove(className);
        });
        item.classList.add(className)
        const adoptionType = document.getElementById("adoption-type");
        const formData = w(item.textContent);

        formData.then(response => response.json())
            .then(data => {
                console.log(data.context)
                const breeds = data.context;
                let breedSelect = '<select name="breed" id="breed">' +
                    '<option value="Any"> Any</option><label>';

                for (let i = 0; i < breeds.length; i++) {
                    const breed = breeds[i].breed_name;
                    breedSelect += `<option value=${breed}> ${breed} </option>`
                }
                breedSelect += ' </select>';


                adoptionType.innerHTML = `
            <input type="search" placeholder="Location (i.e. Miami, FL or 33187)" name="Location" required>
                <div class="animal-selection">
                    ${breedSelect}
                    <select name="age" id="age">
                        <option value="Any"> Any</option>
                    </select>

                </div>
                    <input type="submit" value="Submit">`


            }).catch();

    }

    const elem = document.querySelector(".active-checkbox");
    setActive(elem);


</script>
</html>