# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#API CREDENTIALS AND CALLS
../FurEverFriends/FurEverFriends/pet_search.py